@page "/"
@page "/index.html"

@inject IJSRuntime jsRuntime
<div class="text-center text-black main-page">
    <div class="pb-12 top">
        <div name="navigation" class="navigation">
            <img src="Slash_Commands.svg" class="h-full rounded-full">
            <div class="nav-links text-white font-semibold">
                <a href="@invite" target="_blank"
                   class="hover:underline cursor-pointer">Invite</a><a href="https://docs.slashr.xyz" target="_blank"
                                                                       class="hover:underline cursor-pointer">Docs</a><a href="https://slashr.xyz/support"
                                                                                                                         target="_blank" class="hover:underline cursor-pointer">Support</a><a href="/auth" class="hover:underline cursor-pointer">Login</a>
            </div>
        </div>
        <div id="main" name="main" class="mt-10 text-white">

            <h1 class="text-6xl font-bold align-middle">Please wear protective equipment when slashing commands</h1>
            <h1 class="text-6xl opacity-20 transform -translate-y-5 font-bold mb-2 align-middle">
                <span class="opacity-0">.</span>
            </h1>
            <p class="font-normal text-lg">Create Slash Commands, Button Roles, Role Menus, and so much more!</p><a href="@invite"
                                                                                                     target="_blank"
                                                                                                     class="block bg-white text-black font-bold transition duration-200 shadow hover:shadow-2xl ease-in-and-out rounded-lg mx-auto mt-16 px-2 py-4 hover:text-red-800 text-xl font-sans w-60">
                <i class="fas fa-gifts"></i> Invite Slashr
            </a>
        </div>
    </div>
    <div class="feature flex-col sm:flex-row text-center sm:text-left">
        <div class="w-full sm:w-1/2 p-4 sm:p-8"><img class="rounded-lg  mx-auto" src="https://turtlepaw.is-from.space/r/xLCgid1jmM.png"></div>
        <div class="w-full sm:w-1/2 sm:p-8 feature-header">
            <h1 class="font-bold text-5xl mb-3">Create Slash Commands</h1>
            <p class="font-semibold text-lg">Slashr's Slash Command making system makes making a command easy.</p>
        </div>
    </div>
    <div class="ofeature flex-col sm:flex-row-reverse text-center sm:text-left">
        <div class="w-full sm:w-1/2 p-4 sm:p-8">
            <img class="rounded-lg  mx-auto"
                 src="https://turtlepaw.is-from.space/r/Discord_GHzTMUoVbJ.png">
        </div>
        <div class="w-full sm:w-1/2 sm:p-8 feature-header">
            <h1 class="font-bold text-5xl mb-3">Powerful Button Roles</h1>
            <p class="font-semibold text-lg">Let your users choose there roles by creating button roles!</p>
        </div>
    </div>
    <div class="feature flex-col sm:flex-row text-center sm:text-left">
        <div class="w-full sm:w-1/2 p-4 sm:p-8">
            <img class="rounded-lg  mx-auto"
                 src="https://turtlepaw.is-from.space/r/Discord_QK7P8CjGu5.png">
        </div>
        <div class="w-full sm:w-1/2 sm:p-8 feature-header">
            <h1 class="font-bold text-5xl mb-3">Simple Role Menu</h1>
            <p class="font-semibold text-lg">Add unlimited roles to your role menu.</p>
        </div>
    </div>
    <div class="ofeature flex-col sm:flex-row-reverse text-center sm:text-left">
        <div class="w-full sm:w-1/2 p-4 sm:p-8"><img class="rounded-lg  mx-auto" src="https://turtlepaw.is-from.space/r/Discord_E7Uk7RAyJk.png"></div>
        <div class="w-full sm:w-1/2 sm:p-8 feature-header">
            <h1 class="font-bold text-5xl mb-3">Create Color Roles In Seconds</h1>
            <p class="font-semibold text-lg">Slashr's color role command makes all your color roles in seconds.</p>
        </div>
    </div>
    <div class="feature flex-col sm:flex-row text-center sm:text-left">
        <div class="w-full sm:w-1/2 p-4 sm:p-8">
            <img class="rounded-lg
mx-auto" src="https://turtlepaw.is-from.space/r/Discord_5EpmjFvVi8.png">
        </div>
        <div class="w-full sm:w-1/2 sm:p-8 feature-header">
            <h1 class="font-bold text-5xl mb-3">Universal Emoji Support</h1>
            <p class="font-semibold text-lg">Use emojis from any server, even from servers that Slashr's not in!</p>
        </div>
    </div>
    <div class="efeature flex-col">
        <div class="w-full sm:p-8 feature-header">
            <h1 class="font-bold text-5xl mb-3">Free</h1>
            <p class="font-semibold text-lg">All Slashr's commands and features are free!</p>
        </div>
        <!-- <div class="w-full p-4 sm:p-8"><img class="rounded-lg  mx-auto" src="https://us-east-1.tixte.net/uploads/turtlepaw.is-from.space/Discord_UZCgI97fdx.png"></div> -->
    </div>
    <div class="mt-56">
        <h1 class="text-3xl font-black">Get Started Now!</h1><a href="@invite"
                                                                target="_blank"
                                                                class="block bg-white text-white font-bold transition duration-200 shadow hover:shadow-2xl ease-in-and-out rounded-lg mx-auto end-button mt-5 px-2 py-4 mb-36 hover:opacity-80 text-xl font-sans w-60"> Invite Slashr</a>
    </div>
</div>

@code {
    public string invite { get; set; } = "https://discord.com/oauth2/authorize?client_id=859915461692096552&scope=bot%20applications.commands&permissions=2416184321";
}